* {
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 53%);
}
header {
    margin-top: 8px;
    margin-bottom: 60px;
    margin-left:10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}

hr {
    color: hsl(345deg, 1%, 65%);
    width: 1000px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.cheking-wrapper {
    display: flex;
    color: hsl(345deg, 1%, 65%);
    flex-direction:row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}

.cheking-wrapper a {
    text-decoration: none;
    color: hsl(345deg, 1%, 65%);
}

.sign-in-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 25px;
    text-align: center;
    background-color:hsl(0, 0%, 50%);
    color: hsl(0, 0%, 87%);
    font-size: 14px;
}

.sign-in-btn:hover {
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}

.hero-section {
    width: fit-content;
    height: 700px;
    margin: 0 auto;
}

.create-event-btn {
    margin-top: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-size: medium;
    background-color: hsl(0, 0%, 100%);
}

.create-event-btn:hover {
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;
}

