* {
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header {
    margin-top: 8px;
    margin-bottom: 60px;
    margin-left:10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}

hr {
    color: hsl(345deg, 1%, 65%);
    width: 1000px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.cheking-wrapper {
    display: flex;
    color: hsl(345deg, 1%, 65%);
    flex-direction:row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}

.cheking-wrapper a {
    text-decoration: none;
    color: hsl(345deg, 1%, 65%);
}

.hero-section {
    width: fit-content;
    height: 700px;
    margin: 0 auto;
}

